<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexeyreznik.xposedurls">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Logs all URL's of HTTP(S) connections made by OkHttp3 SDK to a file. To enable: put file named DT_log_urls in private app directory. Results: urls.txt file in private app directory" />
        <meta-data
            android:name="xposedminversion"
            android:value="76" />

    </application>
</manifest>
